extends layout/layout.pug

block title
    title Create Account
    
block content
    form(method="POST" action="/newAccount")
        label Username:
            input(type="text" name="username")
        label Password:
            input(type="password" name="password")
        label Name:
            input(type="text" name="name")
        input(type="radio" name="image" value="images/girl.svg")
            img(src="images/girl.svg", alt="girl icon i had on hand")
        input(type="radio" name="image" value="images/boy.svg")
            img(src="images/boy.svg", alt="boy icon i had on hand")
        label Choose your house color: 
            select(name="house")
                option(value="house-black.svg") Black
                option(value="house-blue.svg") Blue
                option(value="house-green.svg") Green
                option(value="house-pink.svg") Pink
                option(value="house-red.svg") Red
        input(type="submit" value="Submit")