body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding:0px;
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
}
.content {
    text-align: center;
}
p, form, a {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
form {
    margin: 10px;
}
img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.direct img {
    display:inline;
}
.direct {
    margin-left: auto;
    margin-right: auto;
}

.nav {

}

.time {

}

footer {

}

.outside {
    /* use gradient to make a sky background */
    background-image: linear-gradient(#87CEEB, #C6DEE8)
}

.medium {
    width: 20%;
}

.small {
    width : 10%;
}

.large {
    width: 80%;
}

.right {
    margin-left: auto;
}

.float {
    float: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.home {
    background-color: #F28F79;
    padding: 25px;
    margin: 20px 0px;

}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #F2B90C;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
        -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #88A61C;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #88A61C;
    cursor: pointer;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #56ACBF;
}

ul.nav li {
  float: left;
}

 ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(72, 142, 158);
}
div.links a {
    display: block;
  color: #56ACBF;
  text-align: center;
  padding: 0px 16px 20px;;
  text-decoration: none;
}

