extends ../layout/layout.pug

block title
    title Full Pockets
    
block content
    h1 Your pockets are full!!
    p You can empty your pockets at Nook's Cranny
    br
    a(href="/nooksCranny")
        img(src="images/tom-nook.png" class="medium")