extends ../layout/layout.pug

block title
    title Pockets
    
block content
    ul(id="pocket")
        each item in items
            li #{item.name}
                img(src=item.image class="small")