extends ../layout/layout.pug

block title
    title Nook's Cranny
    
block content
    h1 Nook's Cranny
    img(src="images/tom-nook.svg" class="center medium")
    p Welcome to Nook's Cranny! Here you can sell items that you have collected by fishing and bug hunting.
    p The money you earn from your sales will be added to your pockets, and you can use it to pay off your house loan.
    div(class="links")
        a(href="/nooksCranny/sell") Sell Items
        br
        a(href="/nooksCranny/pay") Pay Loan